<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcheUmPsi - Cadastro de Pacientes</title>

    <!--CSS-->
    <link rel="stylesheet" th:href="@{/bootstrap-4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.14.0/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
    <header>
        <div class="container" 
        id="nav-container">

            <nav class="navbar navbar-expand-lg fixed-top">

                <a th:href="@{/}"
                class="navbar-brand">

                    <!-- Imagem da Logomarca : Barra de Navegação TOPO -->
                    <img 
                    id="logo"
                    src="/img/psicologia.png"
                    alt="AcheUmPsi"> &nbsp;AcheSeuPsi

                </a>

                <!-- Botão com os Recursos do Framework Bootstrap -->
                <button class="navbar-toggler" 
                        type="button" 
                        data-toggle="collapse" 
                        data-target="#navbar-links" 
                        aria-controls="navbar-links"
                        aria-expanded="false"
                        aria-label="Toogle navigation">

                        <span class="navbar-toggler-icon"></span>

                </button>

                <!-- Barra de Navegação / ID's & Links -->
                <div class="collapse navbar-collapse justify-content-end"
                     id="navbar-links">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a th:href="@{/}" class="nav-link" id="home-menu">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Início</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/projeto}" class="nav-link" id="about-menu">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O Projeto</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a th:href="@{/}" class="nav-link dropdown" data-toggle="dropdown" id="services-menu">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Serviços</a>
                            <div class="dropdown-menu" id="links-dropdown">
                                <a href="" class="dropdown-item">Cadastro de Profissionais</a>
                                <a href="" class="dropdown-item">Cadastro de clientes</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" id="team-menu">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sobre Nós</a>
                        </li>
                        <li clas="nav-item">
                            <a href="" class="nav-link" id="contact-menu"> |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contato</a>
                        </li> 
                    </ul>
                </div>

            </nav>
        </div>

    </header>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    
    
    <!-- Aqui vai o formulário de cadastro de pacientes -->
    
    <h1>Cadastro de Pacientes</h1>
    
    <form th:action="@{salvar}" method="post" th:object="${paciente}">
    <br>
    <input type="hidden" name="idPac" th:field="*{idPac}"/>
    <label for="nomePac">Nome:</label>
    <input type="text" name="nome" th:field="*{nomePac}"/>
    <br>
    <label for="cpfPac">CPF:</label>
    <input type="text" name="cpfPac" th:field="*{cpfPac}"/>
    <br>
    <label for="whatsappPac">Whatsapp</label>
    <input type="text" name="whatsappPac" th:field="*{whatsappPac}"/>
    <br>
    <label for="emailPac">E-mail:</label>
    <input type="text" name="emailPac" th:field="*{emailPac}"/>
    <br>
    <label for="telPac">Telefone:</label>
    <input type="text" name="telPac" th:field="*{telPac}">
    <br>
    <label for="idadePac">Idade:</label>
    <input type="text" name="idadePac" th:field="*{idadePac}">
    <br>
    <label for="generoPac">Gênero</label>
    <input type="text" name="generoPac" th:field="*{generoPac}">
     <br>
    <label for="senhaPac">Senha</label>
    <input type="text" name="senhaPac" th:field="*{senhaPac}">
    <br>
    <!--  gatilho do modal de confirmação de dados salvos! -->
    <input type="submit" name="salvar" value="salvar" data-toggle="modal" data-target="#exampleModal"/>
    
    <button>Cancelar</button>
    
     <!-- Configurações do modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Confirmação de cadastro</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        Dados cadastrados com sucesso!
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
	      </div>
	    </div>
	  </div>
	</div>
     
    </form>

     
    <!--JS -->
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/bootstrap-4.5.2/js/bootstrap.min.js}"></script>
    

</body>
</html>