<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AcheUmPsi - Cadastro de Pacientes</title>

<!--CSS-->
<link rel="stylesheet"
	th:href="@{/bootstrap-4.5.2/css/bootstrap.min.css}">
<!-- <link rel="stylesheet" th:href="@{/fontawesome-5.14.0/css/fontawesome.min.css}"> -->
<link rel="stylesheet" th:href="@{/css/cadastroPaciente.css}">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="content third-content">
			<div class="third-column">
				<h2 class="title title-third">Cadastro de Paciente</h2>
				<p class="description description-third">Preencha com atenção
					cada campo do formulário.</p>
				<form class="form" th:action="@{/paciente/salvar}" method="post"
					th:object="${paciente}">
					<div th:replace="fragments/alert"></div>
					<div th:replace="fragments/validacao :: validacao"></div>
					<input type="hidden" name="idPac" th:field="*{idPac}"/> <label
						class="label-input" for="nomePac"> <i
						class="far fa-circle icon-modify"></i> <input type="text"
						name="nome" placeholder="Nome Completo" th:field="*{nomePac}" maxlength="40"/>
					</label> <label class="label-input" for="cpfPac"> <i
						class="far fa-circle icon-modify"></i> <input type="text"
						name="cpfPac" placeholder="CPF" th:field="*{cpfPac}" onkeypress="$(this).mask('000.000.000-00');">
					</label> <label class="label-input" for="whatsappPac"> <i
						class="far fa-circle icon-modify"></i> <input type="text"
						name="whatsappPac" placeholder="WhatsApp"
						th:field="*{whatsappPac}" onkeypress="$(this).mask('(00) 0000-0000')"/>
					</label> <label class="label-input" for="telPac"> <i
						class="far fa-circle icon-modify"></i> <input type="text"
						name="telPac" placeholder="Telefone Fixo" th:field="*{telPac}" onkeypress="$(this).mask('(00) 0000-0000')" />
					</label> <label class="label-input" for="dataNasc"> <i
						class="far fa-circle icon-modify"> Data de Nascimento</i> <input type="date"
						name="dataNasc" placeholder="Data de Nascimento" th:field="*{dataNasc}"/>
					</label> 
					<label class="label-input" for="generoPac">
					 
						<select th:field="*{generoPac}">
							<option th:value="'O'">Selecione uma Opção de Gênero</option>
    						<option th:value="'M'" th:text="Masculino"></option>
    						<option th:value="'F'" th:text="Feminino"></option>
						</select>
					</label>

					<!-- Revisar email e senha em conjunto com o dev da parte de security -->
					<label class="label-input" for="email"> <i
						class="far fa-circle icon-modify"></i> <input type="email"
						class="form control" th:field="*{email}" placeholder="Email" />
					</label> <label class="label-input" for="senha"> <i
						class="far fa-circle icon-modify"></i> <input class="form-control"
						type="password" id="senha" th:field="*{senha}" placeholder="Senha" minlength="6" maxlength="8"/>
					</label>
					<button type="submit" class="btn btn-third" name="salvar">Efetuar
						cadastro</button>
					<button class="btn btn-third">Cancelar</button>
					
				</form>
			</div>
		</div>
	</div>

	<!--JS -->
	<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
	<script th:src="@{/bootstrap-4.5.2/js/bootstrap.min.js}"></script>
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	    
		var url = '';
		
		$('button[id*="btn_"]').click(function() {	
			url = "http://localhost:8080/" + $(this).attr('id').split("_")[1];
		})
		
		$('#ok_confirm').click(function(){
			document.location.href = url;
		});
		
		$(function() {
			$('[data-toggle="popover"]').popover();
		});
		
		$(document).ready(function(){
		    $(".navbar-toggle").click(function(){
		        $(".sidebar").toggleClass("sidebar-open");
		    })
		});

	</script>


</body>
</html>