<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcheUmPsi - Cadastro de Pacientes</title>

    <!--CSS-->
    <link rel="stylesheet" th:href="@{/bootstrap-4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.14.0/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
    <header>
        <div class="container" 
        id="nav-container">

            <nav class="navbar navbar-expand-lg fixed-top">

                <a th:href="@{/}"
                class="navbar-brand">

                    <!-- Imagem da Logomarca : Barra de Navegação TOPO -->
                    <img 
                    id="logo"
                    src="/img/psicologia.png"
                    alt="AcheUmPsi"> &nbsp;AcheSeuPsi

                </a>

                <!-- Botão com os Recursos do Framework Bootstrap -->
                <button class="navbar-toggler" 
                        type="button" 
                        data-toggle="collapse" 
                        data-target="#navbar-links" 
                        aria-controls="navbar-links"
                        aria-expanded="false"
                        aria-label="Toogle navigation">

                        <span class="navbar-toggler-icon"></span>

                </button>

                <!-- Barra de Navegação / ID's & Links -->
                <div class="collapse navbar-collapse justify-content-end"
                     id="navbar-links">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a th:href="@{/}" class="nav-link" id="home-menu">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Início</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/projeto}" class="nav-link" id="about-menu">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O Projeto</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a th:href="@{/}" class="nav-link dropdown" data-toggle="dropdown" id="services-menu">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Serviços</a>
                            <div class="dropdown-menu" id="links-dropdown">
                                <a href="" class="dropdown-item">Cadastro de Profissionais</a>
                                <a href="" class="dropdown-item">Cadastro de clientes</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" id="team-menu">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sobre Nós</a>
                        </li>
                        <li clas="nav-item">
                            <a href="" class="nav-link" id="contact-menu"> |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contato</a>
                        </li> 
                    </ul>
                </div>

            </nav>
        </div>

    </header>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    
    
    <!-- Aqui vai o formulário de cadastro de consultas -->
    <!-- Somente um terapeuta pode cadastrar consultas -->
    <!-- Verificar como ele pode inserir o paciente nessa consulta -->
    <!-- verificar como o terapeuta se insere nessa consulta -->
       
    <h1>Cadastro de Consulta</h1>
    
    <form th:action="@{salvar}" method="post" th:object="${consulta}">
    <br>
    <input type="hidden" name="idConsulta" th:field="*{idConsulta}"/>
    <br>
   	<label class="col-sm-2 col-form-label">Nome Paciente</label>
   	<div class="col-sm-10">
	    <select th:field="*{paciente}" required class="form-control">
	      <option th:each="paciente : ${paciente}" th:value="${paciente.idPac}" th:text="${paciente.nomePac}">
	      </option>
	    </select>
    </div>
    <label for="modalidade">Escolha a modalidade do atendimento</label>
   	<select th:field="*{tipo}">
   	  <option th:each="tipo: ${T(br.sc.senai.projetosa.model.enums.TipoAtendimento).values()}" th:value="${tipo}"
   	  th:text="${tipo}"></option>
 	</select>
    <label class="col-sm-2 col-form-label">Data da Consulta</label>
    <div class="col-sm-10">
    <input type="date" class="form-control" id="data" th:field="*{data}" required>
    </div>    
    <br>
    <label for="emailPac">Horário:</label>
    <input type="time" id="appt" name="appt"
       min="08:00" max="19:00" th:field="*{hora}" required>
    <br>
    <input type="submit" name="salvar" value="salvar"/>
    <button>Cancelar</button>
    </form>

    <!--JS -->
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/bootstrap-4.5.2/js/bootstrap.min.js}"></script>
    
</body>
</html>